{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Accueil{% endblock %}

{% block body %}
<section id="home">
    <div class="container text-white">
        <h1 class="display-4 pt-3 img-txt">
            Bienvenu chez Garage V.PARROT !
        </h1>
        <p class="img-txt">V. Parrot et ses collaborateurs vous accueil.</p>
        <p class="img-txt">Vous trouverez ici une large gamme d’entretiens pour votre véhicule.</p>
        <p class="img-txt">
            Envie de de changement ? Nous vous proposons également des véhicules d’occassions à la vente !
        </p>
    </div>
</section>
<section id="opinion">
    {% for message in app.flashes('primary') %}
    <div class="container">
        <div class="alert alert-dismissible alert-primary mt-3">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center align-item-center p-3">
        <h2>Les avis de nos clients</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for opinion in opinions %}
            {% if opinion.isValidate is same as true %}
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card p-3 m-3 bg-dark text-white">
                    <h3 class="card-header">{{ opinion.firstname }}</h3>
                    <p class="card-text mt-2">{{ opinion.opinion }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section id="opinion-form">
    <div class="d-flex justify-content-center align-item-center p-3">
        <h2>Votre avis compte ...</h2>
    </div>
    {% for message in app.flashes('primary') %}
    <div class="container">
        <div class="alert alert-dismissible alert-primary mt-3">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="container">
        {{ form(form) }}
    </div>
</section>

{% endblock %}