{{ form_start(form, {attr: {id: 'filters'}}) }}
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <button type="submit" id="submit-filter" class="btn btn-outline-dark shad">Rechercher</button>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-center">
        <button type="reset" id="reset-filter" class="btn btn-outline-dark shad">Réinitialiser</button>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-lg-4">
      <div class="card mt-1">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h4>Prix</h4>
          </div>
          {{ form_widget(form.minPrice) }}
          {{ form_widget(form.maxPrice) }}
          <div id="price-slider" class="mt-3" data-minprice="{{ minPrice }}" data-maxprice="{{ maxPrice }}"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mt-1">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h4>Kilométrage</h4>
          </div>
          {{ form_widget(form.minKm) }}
          {{ form_widget(form.maxKm) }}
          <div id="km-slider" class="mt-3" data-minkm="{{ minKm }}" data-maxkm="{{ maxKm }}"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mt-1">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h4>Année</h4>
          </div>
          {{ form_widget(form.minYear) }}
          {{ form_widget(form.maxYear) }}
          <div id="year-slider" class="mt-3" data-minyear="{{ minYear }}" data-maxyear="{{ maxYear }}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}