{% extends 'base.html.twig' %}

{% block title %}Garage V. Parrot - Annonce N°{{ car.id }}{% endblock %}

{% block body %}
<section id="car-detail">
  <div class="container">
    <h3 class="display-4 mt-3">Annonce N°{{ car.id }}</h3>
    <div class="card border-dark my-3">
      <img src="/uploads/{{ car.teaserImg }}" alt="Photo Vitrine" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title text-center">{{ car.brand }} {{ car.model }}</h3>
        <div class="row mt-3 text-center">
          <div class="col-4">
            <p class="card-text">{{ car.km }} km</p>
          </div>
          <div class="col-4">
            <p class="card-text">{{ car.year|date("Y") }}</p>
          </div>
          <div class="col-4">
            <p class="card-text">{{ car.price }} €</p>
          </div>
        </div>
        <p class="card-text mt-3">
          Options :
        <ul>
          {% for option in car.options %}
          <li>{{ option.name }}</li>
          {% endfor %}
        </ul>
        </p>
        <div class="row mt-3 text-center">
          <div class="col-4">
            <img src="/uploads/{{ car.img1 }}" alt="Photo Vitrine" class="card-img-bottom border">
          </div>
          <div class="col-4">
            <img src="/uploads/{{ car.img2 }}" alt="Photo Vitrine" class="card-img-bottom border">
          </div>
          <div class="col-4">
            <img src="/uploads/{{ car.img3 }}" alt="Photo Vitrine" class="card-img-bottom border">
          </div>
        </div>
        {% if app.user %}
        <div class="mt-3">
          <a href="{{ path('car.edit', {id: car.id}) }}" class="btn btn-dark shad">Modifier</a>
          <a href="{{ path('car.delete', {id: car.id}) }}" class="btn btn-dark shad text-right">Supprimer</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<section id="car-contact">
  <div class="d-flex justify-content-center align-item-center p-3">
    <h2>Formulaire de contact</h2>
  </div>
  <div class="container">
    {{ form_start(form) }}
    {{form(form)}}
  </div>
</section>
<section id="info-contact">
  <div class="conainer">
    <div class="d-flex justify-content-center align-item-center pt-3">
      <h2>Information de contact</h2>
    </div>
    <div class="row">
      <div class="col-md-4 text-center mt-2">
        <h3>Localisation</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22208.763339795507!2d6.129705340062108!3d45.90940207949501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1701256085281!5m2!1sfr!2sfr"
          width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-4 text-center mt-2">
        <h3>Adresse postale</h3>
        <p>
          Garage V.PARROT <br>
          1 rue du garage <br>
          74000, Annecy
        </p>
      </div>
      <div class="col-md-4 text-center mt-2">
        <h3>Contact</h3>
        <p>
          Email : <a href="mailto:ggeparrot@example.com">ggeparrot@example.com</a> <br>
          Téléphone : <a href="tel:0412345678">0412345678</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}